fastapi==0.111.0  # https://fastapi.tiangolo.com/
uvicorn==0.30.1  # https://www.uvicorn.org/
httpx==0.27.0  # https://www.python-httpx.org/
celery==5.4.0  # https://docs.celeryq.dev/en/stable/getting-started/introduction.html
redis==5.1.0  # https://redis.io/
pytest==8.2.2  # https://docs.pytest.org/en/8.2.x/
flake8==7.1.0  # https://flake8.pycqa.org/en/latest/
psycopg2-binary==2.9.9  # https://www.psycopg.org/
sqlalchemy==2.0.31  # https://www.sqlalchemy.org/
alembic==1.13.1  # https://alembic.sqlalchemy.org/en/latest/
python-dotenv==1.0.1  # https://github.com/theskumar/python-dotenv
pre-commit==3.7.1  # https://pre-commit.com/
python-json-logger==2.0.4  # https://github.com/madzak/python-json-logger
asyncpg==0.29.0  # https://magicstack.github.io/asyncpg/current/
pyjwt==2.6.0  # https://pyjwt.readthedocs.io/en/stable/
python-dotenv==1.0.1  # https://github.com/theskumar/python-dotenv
passlib[bcrypt]==1.7.4  # https://passlib.readthedocs.io/en/stable/
bcrypt==4.0.1  # https://github.com/pyca/bcrypt/
greenlet==3.0.3  # https://greenlet.readthedocs.io/en/latest/
beautifulsoup4==4.12.3  # https://www.crummy.com/software/BeautifulSoup/
